@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar {
   display: none;
}

body {

   background-color: #ececec;
   width: 100%;
   height: 100%;
}

body::before {

   content: "";
   display: block;
   position: absolute;
   color: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.5;
}

/*-------------------------------------nav-bar and index-page---*/


.nav-bar {
   display: flex;
   width: 100%;
   height: 70px;
   justify-content: space-around;
   text-align: center;
   position: relative;
   background-color: black;
   position: fixed;
   z-index: 1;
}

.logo {
   position: absolute;
   left: 40px;
   font-size: x-large;
   font-weight: 600;
   margin-top: 2px;
   text-transform: uppercase;
   letter-spacing: 4px;

}

.logo span {
   font-size: 50px;
   color: rgb(228, 77, 23);
   font-weight: 700;
   font-family: 'Zen Dots', cursive;


}

.nav-bar>a {
   text-decoration: none;
   color: whitesmoke;

}


.nav-lists ul {
   position: absolute;
   right: 0px;

}

.nav-lists ul li {
   display: inline-block;
   padding-right: 40px;
   font-size: inherit;
   list-style: none;
   padding-left: 0px;
   margin-top: 25px;

}

.nav-lists ul li a {
   color: white;
   text-decoration: none;

}


.logo :hover {
   color: whitesmoke;

}

.nav-lists ul li::after {
   content: '';
   background: red;
   width: 0px;
   height: 1px;
   display: block;
   transition: 0.6s;

}

.nav-lists ul li:hover::after {
   width: 100%;
}

.nav-lists ul li a:hover {
   color: #1FA2FF;

}

.nav-lists ul li .active {
   color: #26D0CE;

}


#container-1 {
   width: 100%;
   height: 700px;
   position: relative;
}


.hero-image {
   width: 100%;
   height: 700px;
   background-image: url("../images/hero-image.jpg");
   background-position: center;
   background-size: cover;
   clear: both;
   overflow: hidden;
   animation-name: hero-image;
   animation-duration: 7s;
   animation-fill-mode: forwards;
   position: absolute;
   top: 70px;
   bottom: 70px;
}

@keyframes hero-image {
   from {
      transform: scale(0.5);
   }

   to {
      transform: scale(1);
   }
}

.hero-image::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.3;
}

.hero-text {
   position: absolute;
   top: 250px;
   left: 100px;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: white;
   font-family: 'Oswald', sans-serif;

}

.hero-text span {
   color: rgb(228, 77, 23);
}

.hero-text hr {
   width: 70%;
   height: 1px;
   background-color: orangered;
   clear: both;

}


.button-btn {
   position: absolute;
   margin-top: 30px;
   margin-left: 100px;
   border-radius: 20px;
   width: 25%;
   background: #44A08D;
   font-size: 16px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;

}

.join-us>a {

   text-decoration: none;
   color: white;
   padding: 8px;

}

.button-btn:hover {

   background-color: #4ca2cd;
   width: 35%;
   color: white;

}


.motivation {
   text-align: center;
   width: 100%;
   height: 100%;
   margin-top: 150px;
   text-transform: uppercase;
   color: black;
   padding-top: 5px;
   padding-bottom: 5px;
   letter-spacing: 3px;

}

.main-section {
   margin-top: 50px;
   margin-bottom: 100px;
   justify-content: space-around;
   text-transform: capitalize;
   height: 100%;

}


.transform-1,
.transform-2,
.transform-3,
.transform-4 {
   background-color: #ececec;
   border: none;
   color: black;

}


.fas {
   margin-bottom: 10px;

}

.fa-utensils {
   color: rgb(172, 63, 20);

}

.fa-dumbbell {
   color: #00d2ff;

}

.fa-brain {
   color: lightcoral;

}

.fa-user-friends {
   color: #3a7bd5;

}

.heading-1 {
   margin-top: 20px;

}

.division {
   background-color: orangered;

}

.list-1 {
   font-size: 16px;
   font-weight: 500;
   padding: 20px;
   text-transform: initial;
}

.hover-text {
   text-align: center;
   width: 90%;
   height: 100%;
   margin-top: -50px;
   margin-bottom: 100px;
   text-transform: uppercase;
   color: white;
   border: 2px solid black;
   background-image: url("../images/home-page-hero.jpg");
   background-position: center;
   padding-top: 20px;
   padding-bottom: 40px;
   letter-spacing: 3px;
   border-top-left-radius: 70px;
   border-bottom-right-radius: 70px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border: none;
}

.hero-text-2 {
   animation-name: hero-image;
   animation-duration: 7s;
   animation-fill-mode: forwards;

}

@keyframes hero-image {
   from {
      transform: scale(0.8);
   }

   to {
      transform: scale(1);
   }
}

.about-us-1 {

   margin-top: 100px;


}

.about-us-1 .crossfit-about {
   color: black;
}

.about-us-3 .crossfit-about {
   color: black;
}

.about-us-2 .crossfit-about-2 {
   color: black;

}


.crossfit-decade {
   font-size: xx-large;
   letter-spacing: 4px;
   text-transform: uppercase;
}

.crossfit-founder {
   text-transform: capitalize;

}

.crossfit-image {
   width: 100%;

}

.about-us-2 {
   margin-top: 100px;


}

.about-us-3 {
   margin-top: 100px;
   margin-bottom: 100px;


}

.carousel-caption .black {
   color: black;
}

.carousel-caption .black-1 {
   text-transform: capitalize;
   color: black;
}

.hero-text-2 span {
   color: rgb(228, 77, 23);
}

.membership {
   text-transform: capitalize;
   background-color: orangered;
   width: 150px;
   border: none;
   margin-bottom: -20px;
   opacity: 0.8;
   margin-right: 10px;

}

.results {

   margin-top: 100px;

}

.section-heading {
   text-transform: uppercase;
   text-align: center;
   padding-bottom: 100px;
   color: black;
   margin-right: 70px;
}


.strategy-call {
   text-align: center;
   width: 100%;
   height: 100%;
   margin-top: 60px;
   text-transform: uppercase;
   color: black;
   padding-top: 5px;
   padding-bottom: 10px;
}

.call {
   letter-spacing: 4px;
   color: orangered;
   opacity: 0.8;
}

.phone-call {
   text-transform: capitalize;
   margin-top: 20px;
}

/*-------------------------------media query---*/

@media (max-width: 1300px) {

   .nav-lists ul li {
      padding-right: 20px;
      padding-left: 10px;


   }

   .logo {
      left: 10px;
      font-size: medium;
   }

}

@media (max-width: 1000px) {
   .nav-lists ul li {
      padding-right: 0px;
      padding-left: 0px;


   }

   .logo {
      left: 10px;
      font-size: medium;

   }

   .section-heading {
      margin-left: 80px;

   }

   .footer-3 {
      display: none;

   }

}

@media (max-width: 764px) {

   .nav-bar {
      display: flex;
      width: 100%;
      height: 70px;
      justify-content: space-around;
      text-align: center;
      position: fixed;

   }

   .hero-image {
      margin-top: -70px;

   }

   .motivation-home {
      margin-top: -50px;

   }

   .nav-lists ul {
      font-size: small;
   }

   .heading {
      font-size: x-large;
   }

   .heading-3 {
      font-size: x-large;
   }


   .transform {
      font-size: 20px;

   }

   .recipies-button {
      display: none;

   }

   .nutrition-recipies {
      font-size: 20px;
   }

   .about-us-heading h1 {
      font-size: large;
      width: 100%;

   }

   .reach-us {
      margin-top: 40px;

   }

   .contact-page {
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      align-items: center;

   }

   .google-map {
      width: 400px;
      height: 100px;

   }

   .crossfit-image {
      margin-bottom: 50px;
      margin-top: 50px;

   }

   .uppercase {
      font-size: 20px;

   }


   .membership-silver {
      margin-top: 20px;

   }

   .nutrition-basic {
      margin-top: 20px;

   }

}

@media (max-width: 576px) {


   .nav-bar {
      display: flex;
      width: 100%;
      height: 120px;
      justify-content: space-around;
      text-align: center;
      position: fixed;
      background-color: black;
   }

   .nav-lists ul {
      position: absolute;
      clear: left;
      margin-top: 50px;
      left: 0px;
      font-size: small;
      z-index: 2;

   }

   .hero-image {
      margin-top: 50px;

   }

   .motivation-home {
      margin-top: 50px;

   }

   .button-btn {
      display: none;
   }


   .card {
      margin-bottom: 20px;

   }

   .section-heading {
      margin-left: 50px;

   }

   section .hover-text {
      border-top-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0px;
      width: 100%;

   }

   .google-map {
      width: 250px;
      height: 100px;

   }

   .contact-box-color {
      width: 90%;
   }

   .heading-3 {
      margin-top: 80px;

   }

   .crossfit-bar-text .hard-work {
      font-size: large;
      text-align: center;
   }

   .crossfit-bar-text .hard-work span {
      font-size: 40px;
      text-align: center;

   }

   .container-2 {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
   }

   .copy-right {
      display: flex;
      text-align: center;
      justify-content: center;
      margin-bottom: 0px;
   }

   .uppercase {
      margin-top: 30px;

   }

   .hero-text-3 .hard-work {
      margin-top: 200px;
      font-size: xx-large;
      letter-spacing: 3px;
   }

   .container-membership {
      margin-left: 3px;

   }

   section .about-us-1 {
      margin-top: -30px;
   }

   section .about-us-2 {
      margin-top: 0px;
   }

   section .about-us-3 {
      margin-top: 50px;
      margin-bottom: 50px;
   }


}

@media (max-width: 320px) {

   .two-button {
      display: flex;
      margin-top: 20px;
      text-align: center;
      margin-bottom: 10px;


   }

   .hero-text-2 .hard-work {
      font-size: large;
   }


   section .hover-text {
      margin-top: -100px;
   }

   .hero-text-3 .hard-work {
      margin-top: 150px;

   }
}


/*--------------------------footer----------------*/

.container-2 {
   display: flex;
   margin-top: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   width: 100%;
   height: 100%;
   background-color: rgba(19, 26, 26, 0.973);
   justify-content: space-around;

}

.footer-2 ul li {
   list-style: none;

}

.footer-2 ul li a {
   text-decoration: none;
   color: white;

}

.footer-2 ul li .active {
   color: #26D0CE;

}

.footer-links {
   padding: 8px;

}

.customer {
   line-height: 1.5;
   color: white;

}

.social-link {
   margin-top: 20px;

}

.social-link .social {
   padding: 10px;

}


.social-link .social a {
   text-decoration: none;

}

.social-link .social a i {
   font-size: 20px;

}

.color-1 a i {
   color: white;

}

.color-2 a i {
   color: white;

}

.color-3 a i {
   color: white;

}

.color-4 a i {
   color: white;

}

.copy-right {
   text-align: center;
   font-size: small;
   margin-top: 30px;
   text-align: justify;
   color: white;
}

.icon {
   color: orangered;
   opacity: 0.5;
}

.uppercase {
   color: orangered;
   text-transform: capitalize;
   margin-bottom: 30px;
   opacity: 0.7;
}

.crossfit-start {
   color: white;

}

.street {
   color: white;

}

.crossfit-offers {
   margin-top: -20px;

}

.uppercase-1 {
   color: orangered;
   opacity: 0.7;

}

.copy-right {
   color: white;

}

/*---------------------------membership-page------------*/

#membership-page {
   background-image: url("../images/home-page-hero.jpg");
   width: 100%;
   min-height: 100%;
   background-attachment: fixed;
}


.hero-image-membership {
   width: 100%;
   height: 700px;
   background-image: url("../images/home-page-hero-1.jpg");
   background-position: center;
   background-size: cover;
   clear: both;
   overflow: hidden;
   position: absolute;
   top: 70px;
   bottom: 70px;
}

.hero-image-membership::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.2;
}

.hero-text-membership {
   position: absolute;
   top: 300px;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: white;
   font-family: 'Oswald', sans-serif;
   text-align: justify;

}

.orange {
   color: orangered;

}

.motivation-1 {
   text-align: center;
   width: 100%;
   height: 100%;
   text-transform: uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom: 5px;
   letter-spacing: 3px;
   margin-top: 850px;
}

.container-membership {
   margin-top: 70px;
   margin-bottom: 120px;
   text-transform: capitalize;
   width: 100%;



}

.membership-premium {
   border: none;
   background-image: url("../images/about-page.jpg");
   color: white;
   opacity: 0.8;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   animation-name: premium;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   border: none;
}

@keyframes premium {
   from {
      transform: scale(0.5);
   }

   to {
      transform: scale(1);
   }
}

.membership-silver {
   background-image: url("../images/about-page.jpg");
   color: white;
   opacity: 0.8;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   animation-name: silver-1;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   border: none;
}

@keyframes silver-1 {
   from {
      transform: scale(0.5);
   }

   to {
      transform: scale(1);
   }
}

.membership-gold {
   background-image: url("../images/about-page.jpg");
   color: white;
   opacity: 0.8;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   margin-top: 20px;
   border: none;
}

@keyframes gold-1 {
   from {
      transform: scale(0.5);
   }

   to {
      transform: scale(1);
   }
}

.membership-platinum {
   margin-top: 20px;
   background-image: url("../images/about-page.jpg");
   color: white;
   opacity: 0.8;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   background-position: center;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   border: none;
}

@keyframes gold-1 {
   from {
      transform: scale(0.5);
   }

   to {
      transform: scale(1);
   }
}

.heading-member {
   margin-bottom: 20px;

}

.monthly-cost {
   color: white;
   font-size: 20px;

}

.list-2 {
   padding: 10px;

}

#container-2 {
   width: 100%;
   height: 600px;
   position: relative;
   margin-bottom: 50px;
   margin-top: -40px;
}

.crossfit-bar-image {
   width: 100%;
   height: 100%;
   background-image: url("../images/crossfit-bar.jpg");
   background-position: center;
   background-size: cover;
   clear: both;
   overflow: hidden;

}

.crossfit-bar-image::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.5;
}

.crossfit-bar-text {
   position: absolute;
   top: 200px;
   left: 80px;
   text-transform: uppercase;
   color: white;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 4px;
   text-align: center;
   justify-content: center;
   opacity: 0.8;

}

.crossfit-bar-text span {
   color: orangered;
   font-size: 70px;

}

.make-a-call {
   margin-top: 20px;

}

.phone-call-1 {
   color: white;
}

/*---------------------------nutrition-page------------*/

#nutrition-page {
   background-image: url(../images/home-page-hero.jpg);
   width: 100%;
   min-height: 100%;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: repeat;
   position: relative;
}

.nutrition-1 {
   position: absolute;
   top: 100px;
   left: 50px;
}

.background-image {
   background-image: url("../images/NutritionWellness.jpg");
   height: 500px;
   width: 100%;
   background-size: cover;
   background-position: center;
   position: absolute;
   top: 70px;

}

.background-image::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.2;
}

.nutrition-centric {
   text-transform: uppercase;
   letter-spacing: 4px;
   color: white;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode: forwards;
}

@keyframes gold-1 {
   from {
      transform: scale(0.5);
   }

   to {
      transform: scale(1);
   }
}


.wellness-line {
   width: 50%;
   background-color: orangered;
}

.container-nutrition {
   margin-top: 500px;
   margin-bottom: 80px;
   text-transform: capitalize;
   height: 100%;

}

.nutrition-starter {
   background-image: url(../images/about-page.jpg);
   color: white;
   border: none;
   border-radius: 20px;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode: forwards;

}

@keyframes nutrition-1 {
   from {
      transform: rotate(30deg);
   }

   to {
      transform: scale(1);
   }
}

.nutrition-starter:hover {
   background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;


}

.nutrition-basic {
   background-image: url(../images/about-page.jpg);
   color: white;
   border: none;
   border-radius: 20px;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode: forwards;

}

@keyframes nutrition-1 {
   from {
      transform: rotate(30deg);
   }

   to {
      transform: scale(1);
   }
}

.nutrition-basic:hover {
   background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.nutrition-advanced {
   background-image: url(../images/about-page.jpg);
   color: white;
   border: none;
   border-radius: 20px;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode: forwards;

}

@keyframes nutrition-1 {
   from {
      transform: rotate(30deg);
   }

   to {
      transform: scale(1);
   }
}

.nutrition-advanced:hover {
   background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.nutrition-extra-advanced {
   background-image: url(../images/about-page.jpg);
   color: white;
   border: none;
   border-radius: 20px;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode: forwards;

}

@keyframes nutrition-1 {
   from {
      transform: rotate(30deg);
   }

   to {
      transform: scale(1);
   }
}

.nutrition-extra-advanced:hover {
   background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.nutrition-advanced {
   margin-top: 20px;

}

.nutrition-extra-advanced {
   margin-top: 20px;

}

.heading-nutrition {
   margin-bottom: 20px;

}

.one-time-payment {
   color: white;
   font-size: 20px;
}

.list-3 {
   padding: 5px;

}

.crossfit-nutrition {
   text-align: center;
   width: 100%;
   height: 100%;
   margin-bottom: 50px;
   text-transform: uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom: 10px;
}

.power {
   letter-spacing: 4px;

}

.food-heal {
   text-transform: capitalize;

}

.crossfit-100-recipies {
   position: absolute;
   top: 150px;

}

.recipies-image {
   background-image: url("../images/100-recipes.jpg");
   height: 500px;
   width: 100%;
   background-size: cover;
   background-position: center;
   position: relative;

}

.recipies-image::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.5;
}

.nutrition-recipies {
   text-transform: capitalize;
   line-height: 2;
   letter-spacing: 1px;
   color: whitesmoke;
   font-weight: normal;
   font-size: x-large;

}

.nutrition-recipies span {
   color: orangered;
   font-size: xx-large;

}

.recipies-button {
   position: absolute;
   left: 100px;
   margin-top: 30px;
   width: 130px;
   padding: 7px;
   text-transform: capitalize;
   text-align: center;
}

/*-------------------------------contact-page--------*/

#contact-container {
   width: 100%;
   height: 700px;
   position: relative;

}

.contact-image {
   background-image: url("../images/hero-image.jpg");
   height: 100%;
   width: 100%;
   background-position: center;
   background-size: cover;
   clear: both;
   overflow: hidden;
   background-repeat: no-repeat;
   position: absolute;
   top: 70px;
}

.contact-image::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.2;
}

.contact-text {
   position: absolute;
   top: 300px;
   left: 100px;
   text-align: center;
   color: white;
   text-transform: uppercase;
   letter-spacing: 4px;
   justify-content: center;

}

.contact-box-color {
   background-color: white;
   border-top-left-radius: 70px;
   border-bottom-right-radius: 70px;
   border-bottom-left-radius: 70px;
   border-top-right-radius: 70px;

}

.contact-page {
   display: flex;
   margin-top: 50px;
   margin-bottom: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   width: 100%;
   height: 100%;
   justify-content: space-evenly;

}

.contact-heading {
   margin-top: 150px;
   text-transform: uppercase;
   color: black;
   text-align: center;
   padding-top: 30px;
}

.contact-heading-1 span {
   color: orangered;
}

.contact-page-right {
   flex-basis: 50%;

}

.contact-us {
   margin-bottom: 30px;
   text-transform: uppercase;
   color: black;
}


.uppercase-contact {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;

}

.full-name {
   flex-basis: 40%;
   color: black;
}

.last-name {
   flex-basis: 40%;
   color: black;
}

input[type=text],
input[type=email] {
   width: 100%;

}

label {
   color: black;
   font-size: 16px;
}

textarea {
   width: 100%;
   box-sizing: border-box;

}

input[type=submit] {
   width: 40%;
   height: 40px;
   text-align: center;
   background-color: rgb(153, 56, 71);
   opacity: 0.8;
   color: white;
}

.reach-us {
   color: black;
   text-transform: uppercase;
}

.street-1 {
   color: black;
   text-transform: capitalize;
   margin-top: 30px;
}

table {
   margin-top: 30px;
   color: black;
}

.c-service {
   padding-right: 20px;
   padding-top: 10px;
}

.google-map {
   margin-top: 40px;
}

/*--------submition form page----*/

.hero-text-3 {
   text-align: center;
   margin-top: 150px;
   margin-bottom: 70px;

}

footer .conformation-form {
   height: auto;
}

.conformation-button {
   margin-top: 20px;

}

/*---------- 404 error page------*/

.error_page {
   background-color: #6DD5FA;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

.error_page::before {
   content: "";
   display: block;
   position: absolute;
   background: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.2;
}

.error-page {
   position: absolute;
   justify-content: center;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   border-radius: 10px;
   text-align: center;

}

.error-page>h2 {
   padding-bottom: 10px;
}

.error-page h1 {
   font-size: 100px;
   letter-spacing: 6px;
}

.error-page p {
   font-size: large;
   padding-bottom: 25px;
}

.error-page a {
   text-decoration: none;
   background-color: white;
   color: orangered;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 20px;
   font-weight: 400;

}

.error-page a:hover {
   color: black;
}