@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;

}

body{
  
  background-image: url("../images/body-image.jpg");

}

/*-------------------------------------nav-bar---*/


.nav-bar{
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  text-align: center;
  position: relative;
  
}

.logo {
  position: absolute;
  left:40px;
  font-size: x-large;
  font-weight: 600;
  margin-top: 2px;
  text-transform: uppercase;
  letter-spacing: 4px;
 
}

.logo span {
  font-size: xxx-large;  
  color:rgb(228, 77, 23);
  font-weight: 700;
  font-family: 'Zen Dots', cursive;
 
  
}

.nav-bar > a {
  text-decoration: none;
  color:whitesmoke;
  
}


.nav-lists ul {
  position: absolute;
  right:0px;
 
}

.nav-lists ul li {
  display:inline-block;
  padding-right: 40px;
  font-size: inherit;
  list-style: none;
  padding-left: 0px;
  margin-top: 25px;
  
}

.nav-lists ul li a {
  color: white;
  text-decoration:none;
    
}


.logo :hover{
  color:whitesmoke;
  
}
.nav-lists ul li::after {
  content: '';
  background: red;
  width: 0px;
  height: 1px;
  display: block;
  transition: 0.6s ;
 
}

.nav-lists ul li:hover::after{
  width: 100%;
}

.nav-lists ul li a:active{
  color:rgb(211, 112, 76);
  
}

/*---------------------------------home-page-hero-image/ section-1------ */
 
#container-1{
  width:100%;
  height: 850px;
  position: relative;
}


.hero-image{
  width:100%;
  height:100%;
  background-image: url("../images/home-page-hero.jpg");
  background-position: center;
  background-size: cover;
  clear:both;
  overflow: hidden;
  animation-name: hero-image;
  animation-duration: 7s;
  animation-fill-mode:forwards;
 
}

@keyframes hero-image {
    from{
      transform: scale(0.5);
    }
    to{
      transform: scale(1);
    }
  }
  

.hero-text {
  position: absolute;
  top: 400px;
  left: 100px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font-family: 'Oswald', sans-serif;

}

.hero-text span{
  color:rgb(228, 77, 23);
}

.hero-text hr{
  width: 70%;
  height: 1px;
  background-color:orangered;
  clear:both;
  
} 

/*-----------------------btn-button------*/

.button-btn{
   position: absolute;
   margin-top: 30px;
   margin-left: 100px;
   border-radius: 20px;
   width:25%;
   background: #44A08D;
   font-size: 16px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
  
}

.button-btn a {

  text-decoration: none;
  color: white;
  padding:0px;

}
.button-btn:hover{
  
  background-color: #4ca2cd;
  width:35%;
  
}
/*---------------------------section-2-----*/

.motivation {
   text-align: center; 
   width:100%;
   height: 100%;
   margin-top: 70px;
   text-transform:uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom:5px;
   
}

.container-1{
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform:capitalize;
  justify-content: space-between ;
  text-align: center;
  padding:50px;
  width:100%;
  background-color:white;
 
}

.transform-1{
  border-radius: 10px;
  background-image: url("../images/box-1.jpg");
  width:30%;
  background-size: cover;
  overflow: hidden;
}

.transform-2{
  border-radius: 10px;
  background-image: url("../images/box-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 30%;
  
}
  
.transform-3{
  border-radius: 10px;
  background-image: url("../images/box-3.jpg");
  width:30%;
  background-size: cover;
  overflow: hidden;

}
    
.heading-1{
  text-align: center;
  margin-top: 50px;
  color:white;
  position: relative;
  
}

.list-1{
  margin-top:20px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
  color:white;
  text-align: center;
  margin-left: 25px;
  margin-right: 30px;
  list-style: none;
  margin-bottom: 40px;
  
}

.fas {
  font-size: 30px;
  color: black;
}

.fa-utensils{
  color:lightsalmon;
  margin-bottom: 10px;
}

.fa-dumbbell{
  margin-bottom: 10px;
  color: whitesmoke;
}

.fa-brain{
  color:red;
  margin-bottom: 10px;
}

/*----------------------------section-3------*/
#container-2{
  width:100%;
  height: 800px;
  position: relative;
  margin-bottom: 50px;
  margin-top:-80px;
}

.hero-image-2{
  width:100%;
  height:100%;
  background-image: url("../images/our team.jpg");
  background-position: center;
  background-size: cover;
  clear:both;
  
}

.hero-text-2 {
  position: absolute;
  top: 200px;
  left:70px;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  text-align: left;

}
  
.hero-text-2 span{
  
  color:rgb(228, 77, 23);
  
}
  
.hero-text-2 hr{
  width: 40%;
  height: 1px;
  background-color:orangered;
  clear:both;

}
  
.hero-text-2 h4{
    
  line-height: 2;
 
} 
    
.membership .btn{
  text-transform: capitalize;
  width: 20%;
    
}

.membership .btn:hover{
   
  background-color:#EF629F;
   
}

/*-------------------results--------------------*/

.results{
  
  margin-top:100px;

}

.section-heading{
  text-transform: uppercase;
  text-align: center;
  padding-bottom:100px ;
  color:white;
  margin-right:70px;
}

/*-----------------------------strategy-call-section---------------*/
   

.strategy-call{
   text-align: center; 
   width:100%;
   height: 100%;
   margin-top: 60px;
   text-transform:uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom:10px;
}
.call{
  letter-spacing: 4px;
}
.phone-call{
   text-transform: capitalize;
}