@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar{
   display: none;
}
 
body{
  
   background-color:#ececec;
   width:100%;
   height: 100%;
}

body::before{

   content: "";
   display:block;
   position:absolute;
   color:black;
   top:0;
   right:0;
   bottom:0;
   left:0;
   opacity: 0.5;
}

/*-------------------------------------nav-bar and index-page---*/


.nav-bar{
   display: flex;
   width: 100%;
   height: 70px;
   justify-content: space-around;
   text-align: center;
   position: relative;
   background-color: black;
   position: fixed;
   z-index: 1;
}

.logo {
   position: absolute;
   left:40px;
   font-size: x-large;
   font-weight: 600;
   margin-top: 2px;
   text-transform: uppercase;
   letter-spacing: 4px;
 
}

.logo span {
   font-size: 50px;  
   color:rgb(228, 77, 23);
   font-weight: 700;
   font-family: 'Zen Dots', cursive;
 
  
}

.nav-bar > a {
   text-decoration: none;
   color:whitesmoke;
  
}


.nav-lists ul {
   position: absolute;
   right:0px;
 
}

.nav-lists ul li {
   display:inline-block;
   padding-right: 40px;
   font-size: inherit;
   list-style: none;
   padding-left: 0px;
   margin-top: 25px;
  
}

.nav-lists ul li a {
   color: white;
   text-decoration:none;
    
}


.logo :hover{
   color:whitesmoke;
  
}
.nav-lists ul li::after {
   content: '';
   background: red;
   width: 0px;
   height: 1px;
   display: block;
   transition: 0.6s ;
 
}

.nav-lists ul li:hover::after{
   width: 100%;
}

.nav-lists ul li a:hover{
   color:#1FA2FF;
  
}
  
.nav-lists ul li .active{
    color: #26D0CE;
  
}

 
#container-1{
   width:100%;
   height: 700px;
   position: relative;
}


.hero-image{
   width:100%;
   height:700px;
   background-image: url("../images/hero-image.jpg");
   background-position: center;
   background-size: cover;
   clear:both;
   overflow: hidden;
   animation-name: hero-image;
   animation-duration: 7s;
   animation-fill-mode:forwards;
   position: absolute;
   top:70px;
   bottom:70px;
}

@keyframes hero-image {
    from{
      transform: scale(0.5);
    }
    to{
      transform: scale(1);
    }
  }

.hero-image::before{
   content: "";
   display:block;
   position:absolute;
   background:black;
   top:0;
   right:0;
   bottom:0;
   left:0;
   opacity: 0.4;
 }

.hero-text {
   position: absolute;
   top: 250px;
   left: 100px;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: white;
   font-family: 'Oswald', sans-serif;

}

.hero-text span{
   color:rgb(228, 77, 23);
}

.hero-text hr{
   width: 70%;
   height: 1px;
   background-color:orangered;
   clear:both;
  
} 


.button-btn{
   position: absolute;
   margin-top: 30px;
   margin-left: 100px;
   border-radius: 20px;
   width:25%;
   background: #44A08D;
   font-size: 16px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
  
}

.join-us > a {

   text-decoration: none;
   color: white;
   padding:8px;

} 

.button-btn:hover{
  
   background-color: #4ca2cd;
   width:35%;
   color:white;
  
}


.motivation {
   text-align: center; 
   width:100%;
   height: 100%;
   margin-top: 150px;
   text-transform:uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom:5px;
   letter-spacing: 3px ;
   
}

.main-section{
   margin-top: 50px;
   margin-bottom: 100px;
   justify-content: space-around;
   text-transform:capitalize;
   height:100%;

}


.transform-1 ,.transform-2 ,.transform-3 , .transform-4  {
   background-color:#29323c;
   border: none;
   color: white;

}


.fas{
   margin-bottom: 10px ;

}

.fa-utensils{
   color:rgb(172, 63, 20);
 
}

.fa-dumbbell{
   color:#00d2ff;
 
}

.fa-brain{
   color:lightcoral;

}

.fa-user-friends{
   color:#3a7bd5;

}

.heading-1{
   margin-top: 20px;

}

.division {
   background-color: white;
 
}
  
.list-1{
   font-size: 16px;
   font-weight: 300;
   padding: 20px;
   text-transform:initial;
}
  

#container-2{
   width:100%;
   height: 800px;
   position: relative;
   margin-bottom: 50px;
   margin-top:-40px;
}

.hero-image-2{
   width:100%;
   height:100%;
   background-image: url("../images/our team.jpg");
   background-position: center;
   background-size: cover;
   clear:both;
  
}

.hero-image-2::before{
   content: "";
   display:block;
   position:absolute;
   background:black;
   top:0;
   right:0;
   bottom:0;
   left:0;
   opacity: 0.3;
}

.hero-text-2 {
   position: absolute;
   top: 200px;
   left:70px;
   text-transform: uppercase;
   color: white;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 4px;
   text-align: left;
   
}
  
.hero-text-2 span{
  
   color:rgb(228, 77, 23);
  
}
  
.hero-text-2 hr{
   width: 40%;
   height: 1px;
   background-color:orangered;
   clear:both;

}
  
.hero-text-2 h4{
    
   line-height: 2;
 
} 
    
.membership .btn{
   text-transform: capitalize;
   width: 20%;
    
}

.membership .btn:hover{
   
   background-color:#EF629F;
   
}

.results{
  
   margin-top:100px;

}

.section-heading{
   text-transform: uppercase;
   text-align: center;
   padding-bottom:100px ;
   color:white;
   margin-right:70px;
}


.strategy-call{
    text-align: center; 
    width:100%;
    height: 100%;
    margin-top: 60px;
    text-transform:uppercase;
    color: white;
    padding-top: 5px;
    padding-bottom:10px;
}
.call{
    letter-spacing: 4px;
    color:orangered;
    opacity: 0.8;
}
.phone-call{
    text-transform: capitalize;
    margin-top:20px;
}

/*-------------------------------media query---*/ 

 @media (max-width: 1300px){

.nav-lists ul li{
    padding-right: 20px;
    padding-left: 10px;
    
    
}

.logo{
    left:10px;
    font-size: medium;
}

}
  
@media (max-width: 1000px){
.nav-lists ul li{
    padding-right: 0px;
    padding-left: 0px;
   
    
}

.logo{
    left:10px;
    font-size: medium;
    
}
    
.section-heading{
    margin-left:80px;
   
}

.footer-3 {
   display:none;
    
}

} 

@media (max-width: 764px){
    
.nav-bar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    text-align: center;
    position: fixed;

}
.hero-image{
    margin-top: -70px;
      
}
      
.motivation-home{
    margin-top:-50px;
      
}
       
.nav-lists ul  {
    font-size: small;
}

.heading {
    font-size: x-large;
}

.heading-3{
    font-size: x-large;
}

  
.transform{
    font-size: 20px;

}

.recipies-button{
    display:none;
     
}

.nutrition-recipies{
  font-size: 20px;
}

.about-us-heading h1{
   font-size:large;
   width:100%;
      
}
      
.reach-us{
   margin-top: 40px;
        
}
     
.contact-page{
   flex-direction: column;
   justify-content: space-around;
   width:100%;
   align-items: center;
      
}
      
.google-map{
   width:400px;
   height:100px;
      
}
.crossfit-image{
   margin-bottom: 50px;
   margin-top:50px;
     
}
    
.uppercase{
  font-size: 20px;

}

 
.membership-silver{
    margin-top: 20px;
    
}

.nutrition-basic{
    margin-top: 20px;
     
}
  
}

@media (max-width: 576px){


.nav-bar{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    background-color: black;
  }

  .nav-lists ul  {
    position: absolute;
    clear:left;
    margin-top:50px;
    left: 0px;
    font-size: small;
    z-index:2;
   
}

.hero-image{
    margin-top:50px;
  
}
  
.motivation-home{
    margin-top:50px;
 
}
 
.button-btn{
    display:none;
}


.card-1{
    margin-bottom: 20px;
  
}

.section-heading{
    margin-left:50px;
  
}

.hero-text-2  .hard-work{
   font-size: large;
  
}

.google-map{
   width:200px;
   height:100px;

}

.heading-3{
   margin-top:80px;

}

.crossfit-bar-text .hard-work{
   font-size:large;
   text-align: center;
}

.crossfit-bar-text .hard-work span{
   font-size:40px;
   text-align:center;
  
}

.container-2{
   width:100%;
   height:100%;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.copy-right{
   display: flex;
   text-align: center;
   justify-content: center;
}

.uppercase{
   margin-top: 30px;
  
}

.container-membership{
    margin-left: 3px;
    
}




  
}
    

/*--------------------------footer----------------*/

.container-2{
   display:flex;
   margin-top: 50px;
   padding-top: 50px;
   padding-bottom:50px;
   width:100%;
   height:100%;
   background-color:rgba(19, 26, 26, 0.973);
   justify-content: space-around;
  
}

.footer-2 ul li{
   list-style: none;
  
}

.footer-2 ul li a{
   text-decoration: none;
   color:white;

}

.footer-2 ul li .active{
   color: #26D0CE;
 
}

.footer-links{
   padding: 8px;
 
}
 
.customer {
   line-height:1.5;
   color:white;

}

.social-link{
   margin-top: 20px;
   
}

.social-link .social{
   padding: 10px;
  
}


.social-link .social a{
   text-decoration: none;

}

.social-link .social a i{
   font-size: 20px;
 
}

.color-1 a i {
   color:white;
   
}

.color-2 a i {
   color: white;

}

.color-3 a i{
   color:white;

}

.color-4 a i{
   color: white;

}

.copy-right{
   text-align: center;
   font-size: small;
   margin-top:30px;
   text-align: justify;
   color:white;
}

.uppercase{
   color:orangered;
   text-transform: capitalize;
   margin-bottom:30px;
   opacity:0.7 ;
}

.crossfit-start{
   color:white;

}

.street{
  color:white;

}

.crossfit-offers{
   margin-top:-20px;

}

.uppercase-1{
   color:white;

}

.copy-right{
   color:white;

}

/*---------------------------membership-page------------*/

#membership-page{
   background-image: url("../images/home-page-hero.jpg");
   width:100%;
   min-height: 100%;
   background-attachment: fixed;
}


.hero-image-membership{
   width:100%;
   height:700px;
   background-image: url("../images/home-page-hero-1.jpg");
   background-position: center;
   background-size: cover;
   clear:both;
   overflow: hidden;
}
 
.hero-text-membership {
   position: absolute;
   top: 300px;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: white;
   font-family: 'Oswald', sans-serif;
   text-align: justify;
  
}
 
.orange{
  color:orangered;

}

.motivation-1{
   text-align: center; 
   width:100%;
   height: 100%;
   margin-top: 20px;
   text-transform:uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom:5px;
   letter-spacing: 3px;
 
}

.container-membership{
   margin-top: 50px;
   margin-bottom: 150px;
   text-transform:capitalize;
   width:100%;
   
    
  
}

.membership-premium{
   border:none;
   background-image: url("../images/home-page-hero.jpg");
   color: white;
   opacity: 0.7;
   background-position: center;
   animation-name: premium;
   animation-duration: 5s;
   animation-fill-mode:forwards;
  
}
  @keyframes premium {
    from{
      transform: scale(0.5);
    }
    to{
      transform: scale(1);
    }
  }
 
.membership-silver{
   background-image: url("../images/home-page-hero.jpg");
   color:white;
   opacity: 0.7;
   background-position: center;
   animation-name: silver-1;
   animation-duration: 5s;
   animation-fill-mode:forwards;
 
}

@keyframes silver-1 {
    from{
      transform: scale(0.5);
    }
    to{
      transform: scale(1);
    }
  }
    
.membership-gold{
   background-image: url("../images/home-page-hero.jpg");
   color:white;
   opacity: 0.7;
   background-position: center;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode:forwards;
   margin-top: 20px;
 
}

 @keyframes gold-1 {
    from{
      transform: scale(0.5);
    }
    to{
      transform: scale(1);
    }
  }
   
.membership-platinum{
   margin-top: 20px;
   background-image: url("../images/home-page-hero.jpg");
   color:white;
   opacity: 0.7;
   background-position: center;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode:forwards;
   
}

@keyframes gold-1 {
      from{
        transform: scale(0.5);
      }
      to{
        transform: scale(1);
      }
    }
     
.heading-member{
    margin-bottom: 20px;
  
}

.monthly-cost{
    color:white;
    font-size: 20px;
  
}

.list-2{
   padding:10px;
  
}

.crossfit-bar-image{
   width:100%;
   height:100%;
   background-image: url("../images/crossfit-bar.jpg");
   background-position: center;
   background-size: cover;
   clear:both;
   overflow:hidden;
  
}

.crossfit-bar-text {
   position: absolute;
   top: 200px;
   left: 80px;
   text-transform: uppercase;
   color:white;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 4px;
   text-align: center;
   justify-content:center;
    
}

.crossfit-bar-text span{
   color:orangered;
   font-size: 70px;
  
}

.make-a-call{
   margin-top: 20px;
  
}

/*---------------------------nutrition-page------------*/

#nutrition-page{
   background-image:url(../images/NutritionWellness-1.jpg);
   width:100%;
   min-height: 100%;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: repeat;
    
}

.nutrition-1{
   position: absolute;
   top: 100px;
   left: 50px;
}

.background-image{
   background-image:url("../images/NutritionWellness.jpg");
   height:500px;
   width:100%;
   background-size: cover;
   background-position:center;
   position: relative;
     
}

.nutrition-centric{
   text-transform: uppercase;
   letter-spacing: 4px;
   color:white;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode:forwards;
}

@keyframes gold-1 {
      from{
        transform: scale(0.5);
      }
      to{
        transform: scale(1);
      }
    }
  
 
.wellness-line{
   width:70%;
   background-color: orangered;
}

.container-nutrition{
   margin-top: -100px;
   margin-bottom: 80px;
   text-transform:capitalize;
   height:100%;
  
}

.nutrition-starter{
   background-image: url(../images/about-page.jpg);
   color:white;
   border:none;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode:forwards;

}

@keyframes nutrition-1 {
  from{
    transform:rotate(30deg);
  }
  to{
    transform: scale(1);
  }
}

.nutrition-starter:hover{
  background-image: url("../images/nutrition-hover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.nutrition-basic{
   background-image: url(../images/about-page.jpg);
   color:white;
   border:none;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode:forwards;

}

@keyframes nutrition-1 {
  from{
    transform:rotate(30deg);
  }
  to{
    transform: scale(1);
  }
}

.nutrition-basic:hover{
   background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

} 
    
.nutrition-advanced{
   background-image: url(../images/about-page.jpg);
   color:white;
   border:none;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode:forwards;

}

@keyframes nutrition-1 {
  from{
    transform:rotate(30deg);
  }
  to{
    transform: scale(1);
  }
}

.nutrition-advanced:hover{
    background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.nutrition-extra-advanced{
   background-image: url(../images/about-page.jpg);
   color:white;
   border:none;
   animation-name: nutrition-1;
   animation-duration: 7s;
   animation-fill-mode:forwards;

}

@keyframes nutrition-1 {
 from{
   transform:rotate(30deg);
 }
 to{
   transform: scale(1);
 }
}

.nutrition-extra-advanced:hover{
   background-image: url("../images/nutrition-hover.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.nutrition-advanced{
   margin-top: 20px;

}

.nutrition-extra-advanced{
   margin-top: 20px;

}
 
.heading-nutrition{
   margin-bottom: 20px;

}

.one-time-payment{
   color:white;
   font-size: 20px;
}

.list-3{
   padding:5px;

}
 
.crossfit-nutrition{
   text-align: center; 
   width:100%;
   height: 100%;
   margin-bottom: 50px;
   text-transform:uppercase;
   color: white;
   padding-top: 5px;
   padding-bottom:10px;
}

.power{
   letter-spacing: 4px;

}

.food-heal{
   text-transform: capitalize;

}

.crossfit-100-recipies{
   position: absolute;
   top:150px;
 
}

.recipies-image{
   background-image:url("../images/100-recipes.jpg");
   height:500px;
   width:100%;
   background-size: cover;
   background-position:center;
   position: relative;


}

.nutrition-recipies{
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  text-align: center;


}

.recipies-button{
   position: absolute;
   left:200px;
   margin-top: 30px;
   width: 150px;
   padding:10px;
   text-transform: capitalize;

}

/*------------------------------------about-us-page----------*/

#about-us-background{
   background-image: url("../images/about-page.jpg");
   background-repeat:repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 100vh;
  
}

.about-us-heading{
   margin-top: 120px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: white;
   animation-name: gold-1;
   animation-duration: 5s;
   animation-fill-mode:forwards;
 

}
 
@keyframes gold-1 {
   from{
     transform: scale(0.5);
   }
   to{
     transform: scale(1);
   }
 }
 
.about-us-1 {
   margin-top: 100px;
   
}

.crossfit-about{
   color:white;
  
}

.crossfit-decade{
   font-size: xx-large;
   letter-spacing: 4px;
   text-transform: uppercase;
}

.crossfit-founder{
   text-transform: capitalize;

}

.crossfit-image{
   width:100%;

}

.about-us-2{
   margin-top: 100px;
   
 }
 
.crossfit-about-2{
   color:white;
 
 }
 
.strategies{
   margin-top: 50px;
 
}

/*-------------------------------contact-page--------*/

#contact-container{
   width:100%;
   height: 700px;
   position: relative;
 
}

.contact-image{
   background-image: url("../images/hero-image.jpg");
   height:100%;
   width:100%;
   background-position: center;
   background-size: cover;
   clear:both;
   overflow: hidden;
   background-repeat: no-repeat;
}

.contact-text{
   position: absolute;
   top:300px;
   left:100px;
   text-align: center;
   color: white;
   text-transform: uppercase;
   letter-spacing: 4px;
   justify-content: center;
   
}

.contact-page{
   display: flex;
   margin-top: 50px;
   margin-bottom: 50px;
   padding-top: 50px;
   padding-bottom:50px;
   width:100%;
   height:100%;
   justify-content: space-evenly;
 
}

.contact-heading{
   margin-top: 50px;
   text-transform:uppercase;
   color: white;
   text-align: center;

}

.contact-heading span{
 color:orangered;
}

.contact-page-right{
   flex-basis: 50%;
   
}
 
.contact-us{
   margin-bottom: 30px;
   text-transform: uppercase;
   color: white;
}


.uppercase-contact{
   display:flex;
   justify-content: space-between;
   margin-bottom:20px;
 
}

.full-name  {
   flex-basis: 40%;
   color:white;
}

.last-name  {
   flex-basis: 40%;
   color:white;
}

input[type=text],input[type=email]{
   width:100%;
 
}
  
label{
   color: white;
   font-size: 16px;
}

textarea {
   width:100%;
   padding:20px;
   box-sizing: border-box;
  
}

input[type=submit]{
   width: 20%;
   height:40px;
   text-align: center;
}

.reach-us{
   color:white;
   text-transform: uppercase;
}

.street-1{
   color: white;
   text-transform: capitalize;
   margin-top:30px;
}

table{
   margin-top: 30px;
   color:white;
}

.c-service{
   padding-right:20px;
   padding-top: 10px;
}

.google-map{
   margin-top:40px;
}